body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  background-color: #f2f4f7;
  color: #333;
}

header{
    background-color: #0a3d62;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.profile-img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 15px;
}
.accordion {
    width: 85%;
    max-width: 800px;
    margin: 30px auto;
}

.accordion-item {
    background: white;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.accordion-title {
    margin: 0;
    padding: 20px;
    background-color: #1e3799;
    color: white;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.4s ease, padding 0.3s ease;
}

.accordion-item.active .accordion-content {
    max-height: 300px;
    padding: 20px;
}

button {
    background-color: #1e3799;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #dcdde1;
    margin-top: 30px;
}